## Creating a benchmark to beat

Using the Titanic dataset on Kaggle I will create a benchmark fomula for predicting alive/dead.  The benchmark is based on the notion that women will be given priorty in a life and death situation.  The formula predicts that all women will survive and all men will die. We will see if I can produce an algorithm that has more sucess predicting alive/dead then this simple formula.

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", 20)

In [2]:
df = pd.read_csv(r"C:\titanic\train.csv")
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,NaN,C
84,85,1,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S

### Encode "male" and "female" with binary label

In [3]:
le = LabelEncoder()
le.fit(["male", "female"])
binary_labels = le.transform(df.Sex.values)
df['Sexb'] = binary_labels

### The benchmark to beat!

In [4]:
benchmark = (df['Sexb'] != df['Survived']).sum()/df.shape[0]

In [5]:
print('The benchmark formula predicts survival on training data with ' + str(benchmark) + ' accuracy')

The benchmark formula predicts survival on training data with 0.7867564534231201 accuracy